*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    padding:  50px 200px;
    display: flex;
    justify-content: space-between;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}

/* Header and Navigation Style */
.nav-tittle {
font-weight: 800;
font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-left: 50px;
    list-style: none;
}

/* banner style */
.banner{
    
    align-items: center ;
    display: flex;
    margin: 0 200px;
}
.banner-tittle{
font-weight: 700;
font-size: 85px;
}
.banner-sub-tittle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-discritpion{
    color: #757575;
    font-size: 18px;

}

.header{
    background: #FFFFFF ;
    background-image: url('../images/header.jpg'), url('../images/developer1.jpg');
    background-repeat: no-repeat;
    background-position: bottom right, left;
 
}

/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;

}
.section{
    margin-top: 130px;

}

/* About Section Style */

.about{text-align: center;
margin-top: 130px;
background: rgb(212, 165, 165);
border-radius: 10px;
padding: 130px 150px;
}
.section-tittle{
    text-align: center;
    font-weight: 700;
    font-size:35px;
    margin-bottom: 50px;

}
.section-description{
color: #050505;
font-size: 18px;
margin-bottom: 30px;
}

.img{
    height: 500px;
    width: 600px;
    margin-left: 750px;
    margin-bottom: 200px;
    position: right;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-tittle{
    font-size: 20px;
    color: green;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I do style */

.skills-container{
    display: flex;
    gap: 50px;

}
.skill-tittle{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    

}

.skill-description{
    color: #757575;

}
img{
width: 70px;
height: 60px;
align-items: center;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0,06);
    border-radius: 5px;
    padding: 30px;
}

/* Resume Style */

.resume-content{
    display: flex;
    gap: 50px;
    
}
.resume-item{
 
margin-top: 30px;
margin-bottom: 30px;
}
.resume .tittle{
    font-weight: 700;
    font-size: 25px;
    color: #050505;
}
.resume .sub-tittle {

color: #474747;
font-weight: 600;
font-size: 20px;
}
.resume .description{
    color: #757575;
}

.resume-button{
    margin-top:50px ;
    text-align: center;
    
}

/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
}

.contact .section-tittle{
    text-align: left;
}
.contact input[type="text"], input[type="email"],  texarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px ;
}
.input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}